.gallery {
  .heading-gallery-container {
    margin-top: 70px;
    margin-bottom: 20px;
    hr {
      margin: 15px 0;
    }
    .heading-gallery {
      color: #3a3a3a;
      text-align: center;
      &.en {
        font-size: 30px;
        letter-spacing: 0.5em;
      }
      &.ja {
        font-size: 20px;
      }
    }
  }
  .description {
    color: #3a3a3a;
    margin: 70px auto;
    max-width: 700px;
    line-height: 1.5em;
  }
  .category-list {
    display: flex;
    flex-wrap: wrap;
    .category-list-item {
      flex: 0 1 50%;
      .category-inner {
        padding: 10px;
        display: block;
        .category-text {
          width: 80%;
          padding: 20px;
          margin-top: -30px;
          background-color: white;
          position: relative;
          .category-title {
            &.en {
              color: #000000;
              letter-spacing: 0.5em;
              font-size: 23px;
              margin: 10px 0;
            }
            &.ja {
              color: #3a3a3a;
            }
          }
        }
      }
    }
  }
}
