header#header {
  max-width: 960px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  .header-logo {
    width: 270px;
    @media (max-width: 992px) {
      width: 220px;
    }
    img {
      width: 100%;
    }
  }
  .header-menu {
    display: flex;
    li {
      padding: 0 20px;
      border-right: 1px solid #3a3a3a;
      &:last-child {
        border: none;
        font-weight: bold;
      }
      a {
        font-size: 15px;
        color: #3a3a3a;
      }
    }
  }
}
